{
    "objects" : "/var/spool/altair/index/",

    "hypnotoad" :
     
    {
        "listen"    : ["http://*:8999", "https://*:8666"],
        "pid_file"  : "/tmp/.altair/index/index.pid",
        "lock_file" : "/tmp/.altair/index/index.lock",
        "log_file"  : "/tmp/.altair/index/index.log",
        "workers"   : "5",
        "proxy"     : 1
    }
}
