{
    "storage" : "/tmp/.altair/object-index/",

    "hypnotoad" :
     
    {
        "listen"    : ["http://*:8999", "https://*:8666"],
        "pid_file"  : "/tmp/.altair/object-index/object-index.pid",
        "lock_file" : "/tmp/.altair/object-index/object-index.lock",
        "log_file"  : "/tmp/.altair/object-index/object-index.log",
        "workers"   : "5",
        "proxy"     : 1
    }
}
